/*Menu*/

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
}

#filterDish{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

#filterPrice{
    display: flex;
    gap: 20px;
    align-items: center;
}

#filterDish h4{
    font-weight: 700;
    color: rgba(255, 0, 0, 0.925);

}

.css-1domaf0{ /*Estilos del slider*/
    display: flex;
    flex-direction: row-reverse;
    width: 200px !important;
    gap: 15px;
    align-items: center;
}

#filterCategory{
    display: flex;
    align-items: center;
    gap: 5px;
}

#selectCategory{
    font-family: 'Mulish',sans-serif;
    font-weight: 700;
    height: 30px;
    color: #4f4f4f;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#selectCategory:focus{
    outline: none;
}

@media (max-width: 990px) {
    #filterDish h4{
        font-size: 15px !important;
    }
  }

@media (max-width: 800px) {

    #filterDish h4{
        font-size: 20px !important;
    }

    .css-1domaf0{
        width: 100% !important;
    }

    #filterPrice{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0px;
    }

    #filterCategory{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  }

  @media(max-width: 346px){
    #filterCategory{
        justify-content: center;
        gap: 0px;
    }

    #selectCategory{
       text-align: left;
    }
  }

.card {
    overflow: hidden;
    padding: 5px;
}

.card-body{
border-bottom: 2px solid rgb(0, 102, 255);
}

.card-img-top{
  height: 240px;
  object-fit: cover;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.card-img-top:hover{
    transform: scale(1.1);
  }

.card-container{
width: 100%;
display: flex;
flex-wrap: wrap;
}

.stars{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.stars i{
    font-size: 20px;
    color: red;
}

.buy{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart{
    border: none;
    background-color: #00000000;
}

.cart i{
    color: rgb(0, 140, 255);
    font-size: 30px;
    transition: .2s ease-in-out;
}

.btn-buy{
    font-family: 'Mulish',sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 140, 255);
    transition: .3s ease-in;
}

.btn-buy:hover{
    color: white;
    background-color: rgb(255, 0, 0);
}

.btn-buy:hover:active{
    color: white;
    background-color: rgb(255, 0, 0);
}

.cart i:hover{
    color: rgb(255, 0, 0);
    font-size: 30px;
}

@media (max-width: 400px) {
    .btn-buy{
        font-size: 10px ;
    }
  }
