.basketContainer{
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    background-color: rgb(247, 248, 249);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform .4s ease;
}

.basketOpen{
    transform: translateX(0);
}

#DarkOverlayBasket{
    position: fixed;
    right:0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    display: none;
    z-index: 1000;
}
.DarkOverlayBasketOpen{
    display: block !important;
}

#basketLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px 0 16px;
}

#basketLogo span{
    font-family: 'Mulish',sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #2e2c36;
}

#basketLogo #closeBasket{
    width: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

#basketLogo #closeBasket i{
    font-size: 20px;
    color: #2e2c36 ;
}

#locationBasketContent{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 16px 8px;
    border-bottom: 15px solid #eee;;

}

#locationBasketContent #locationIcon{
    color: red;
}

#locationBasketContent #locationBasket{
    font-family: 'Mulish',sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #2e2c36;
}

#basketItem{
    padding: 16px;
}

/* Ocultar flechas para inputs de tipo número */
.inputQuantity::-webkit-inner-spin-button,
.inputQuantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputQuantity {
  -moz-appearance: textfield; /* Firefox */
}
.productItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.productItem .imgItem img {
    width: 90px;
    border-radius: 5px;
}

.itemInfo .ItemName {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 10px;
}

.itemInfo .ItemName p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #2e2c36;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemInfo .price-Quantity-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.itemInfo .price-Quantity-Item .priceStyle {
    padding: 0 16px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    color: #2e2c36;
}

.itemInfo .price-Quantity-Item .quantityItem {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quantityItem .inputQuantityContainer {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 6px;
    border: 1px solid #2e2c36;
    border-radius: 20px;
}

.inputQuantityContainer .inputQuantity {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-weight: 700;
    width: 40px;
    font-size: 15px;
    border: none;
    background-color: rgb(247, 248, 249);
}

.btnInput {
    background-color: transparent;
    border: none;
}

.btnInput i {
    font-size: 15px;
    color: #2e2c36;
}

.btnDelItem{
    position:relative;
    bottom: 40px;
}

@media (max-width: 400px) {
    .basketContainer {
        min-width: 100%;
        overflow: auto;
    }



}