#navbar{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

#logo{
    font-family: 'Arima Madurai', cursive;
    color: #f7f5f2;
    font-size: 26px;
}

.yellow{
    color: yellow;
}

.blue{
    color: rgb(0, 140, 255);;
}

.red{
    color: red;
}

.bars{
    font-size: 30px;
    color: #f7f5f2;
}

@media (max-width: 330px) {
    #logo{
      font-size: 20px;
    }

    .bars{
        font-size: 25px;
    }
  }


#nav-link{
    font-family: 'Mulish', sans-serif ;
    color: #f7f5f2;
    margin-left: 10px;
    font-weight: bold;
    transition:  0.5s;
}

#nav-link:hover{
    border-radius: 5px;
    color: rgb(0, 140, 255);;
} 

#navbar form button{
    font-family: 'Mulish', sans-serif;
    background: rgb(0, 140, 255);;
    color: white;
    transition: .5s;
    cursor: pointer;
    border: none;
}

#navbarSupportedContent .navcontent{
    justify-content: center !important;
    align-items: center !important;
}
