#navbar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: none;
    transition: background-color .3s;
    z-index: 1000;
}

#container-fluid{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.scrolled{
    background-color: black !important;
}
#logo{
    font-family: 'Arima Madurai', cursive;
    font-size: 20px;
    color: white ;
}

.yellow{
    color: yellow;
}

.blue{
    color: rgb(0, 140, 255);
}

.red{
    color: red;
}

#ContainerNavContent{
    display: flex;

}

#locationContent{
    display: flex;
    gap: 10px;
    align-items: center;
}

#locationIcon{
    font-size: 20px;
    color: yellow;
}

#locationName{
    font-family: 'Mulish',sans-serif;
    color: white;
    font-size: 13px;
}

#locationContent-show{
    display: none;
}

#userContentLogin a{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#userContentLogin:hover i,#userContentLogin:hover span{
    color: rgb(0, 140, 255) !important;
}

#userIcon{
    font-size: 20px;
    color: white;
    transition: .3s;
}

#userContentLogin #login{
    font-family: 'Mulish',sans-serif;
    color: white;
    font-size: 13px;
    transition: .3s;
}

#cartShopping{
    width: 50x;
    padding: 4px;

}

#cartShopping button{
    width: 100%;
    background-color: transparent;
    border: none;
}

#cartShopping button i{
    color: white;
    transition: .3s;
}

#cartShopping button i:hover{
    color: rgb(0, 140, 255);
}

#bars{
    width: 20px;

}

#bars button {
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bars button i{
    color: white;
    transition: .3s;
    font-size: 20px;
}

#bars button i:hover {
    color: rgb(0, 140, 255);
}



@media (max-width: 992px) {
    #locationContent{
        display: none;
    }

    #locationContent-show{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }
}

@media (max-width: 435px) {
    #userContentLogin span{
        display: none;
    }

    #logo{
        font-size: 15px;
    }

    #locationContent-show span, #locationContent-show i {
        font-size: 10px;
    }
}
  