*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: yellow;
    border-radius: 10px;
}

html ::-webkit-scrollbar{
    width: 10px;
}

/*navBar*/

#navbar{
    background-color: black;
}

#logo{
    font-family: 'Arima Madurai', cursive;
    color: #f7f5f2;
}

.yellow{
    color: yellow;
}

.blue{
    color: #006eff;
}

.red{
    color: red;
}

.bars{
    font-size: 50px;
    color: #f7f5f2;
}


.nav-link{
    font-family: 'Mulish', sans-serif;
    color: #f7f5f2;
    margin-left: 10px;
    font-weight: bold;
    transition:  0.5s;
}

.nav-link:hover{
    border-radius: 5px;
    color: #006eff;
} 

#navbar form button{
    font-family: 'Mulish', sans-serif;
    background: #006eff;
    color: white;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.navcontent{
    justify-content: center;
    align-items: center;

}

.menu{
    display: flex;
    margin-top: 60px;
}

.card {
    overflow: hidden;
    padding: 5px;
}

.card-body{
border-bottom: 2px solid rgb(0, 102, 255);
}

.card-img-top{
  height: 240px;
  object-fit: cover;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.card-img-top:hover{
    transform: scale(1.1);
  }

.card-container{
width: 100%;
display: flex;
flex-wrap: wrap;
}

.stars{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.stars i{
    font-size: 20px;
}

.buy{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart{
    border: none;
}

.cart i{
    color: rgb(0, 140, 255);
    font-size: 30px;
    transition: .2s ease-in-out;
}

.btn-buy{
    color: white;
    background-color: rgb(0, 140, 255);
    transition: .2s ease-in-out;
}

.btn-buy:hover{
    color: white;
    background-color: rgb(255, 0, 0);
}

.cart i:hover{
    color: rgb(255, 0, 0);
    font-size: 30px;
}
  
  



