*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: yellow;
    border-radius: 10px;
}

html ::-webkit-scrollbar{
    width: 10px;
}

.all-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    text-transform: capitalize !important;
}



